.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: coral;
}

table {
  color: whitesmoke;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: cornflowerblue;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}